.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none; /* começa invisível */
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background-color: #252945;
  color: var(--text-color);
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  display: flex !important;
  flex-direction: column !important;
  gap: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.3s ease;
}

.modal-content h2 {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.modal-content label {
  font-size: 0.9rem;
  color: var(--text-color);
}

.modal-content input,
.modal-content select {
  background-color: #1e2139;
  color: white;
  border: 1px solid #373b53;
  border-radius: 8px;
  padding: 0.6rem;
  font-size: 1rem;
}

.modal-content input:focus,
.modal-content select:focus {
  outline: none;
  border-color: var(--accent-color);
}
